<template>
    <div class="container-fluid">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-12">
                        <strong>
                            <router-link to="/home" class="breadcums">
                                <i class="nav-icon fas fa-tachometer-alt"></i>
                                <span>
                                    Dashboard
                                    <i class="right fas fa-angle-left"></i>
                                </span>
                            </router-link>
                            <router-link to="/subjects" class="breadcums">
                                <span>
                                    Subjects list
                                    <i class="right fas fa-angle-left"></i>
                                </span>
                            </router-link>
                            <span class="breadcums">Subject create</span>
                        </strong>
                    </div>
                </div>
            </div>
            <br/>
            <div class="card-body vld-parent">
                <loading :active.sync="isLoading"
                         :can-cancel="true"
                         :on-cancel="onCancel"
                         :is-full-page="fullPage"></loading>
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-3"></div>
                        <div class="col-lg-6 sadow">
                            <div class="col-lg-12">
                                <h2 class="txt">{{ editMode ? " Edit" : " Add New" }} Subject</h2>
                            </div>
                            <hr/>
                            <div class="card-body">
                                <form method="post" @submit.prevent="editMode ? update () : addSubject()">
                                    <div class="form-group">
                                        <label>Subject Name</label>
                                        <input type="text" class="form-control" name="name" v-model="name" placeholder="Subject name...."/>
                                        <span class="text-danger" v-model="nameError">{{nameError}}</span>
                                    </div>
                                    <div class="form-group">
                                        <label>Class Name</label>
                                        <select class="form-control select2" style="width: 100%;" v-model="class_id" name="class_id">
                                            <option value="" disabled>Select a class</option>
                                            <option v-for="c in classes" :key="c.id" :value="c.id">{{ c.name }}</option>
                                        </select>
                                        <span class="text-danger">{{classError}}</span>
                                    </div>
                                    <!-- /.form-group -->
                                    <div class="form-group">
                                        <label>Group Name</label>
                                        <select class="form-control select2" style="width: 100%;" v-model="group_id" name="group_id">
                                            <option value="" disabled>Select a group</option>
                                            <option value="science">Science</option>
                                            <option value="arts">Arts</option>
                                            <option value="commerce">Commerce</option>
                                            <option value="humanity">Humanity</option>
                                            <option value="general">General</option>
                                            <option value="no">NA</option>
                                        </select>
                                        <span class="text-danger">{{groupError}}</span>
                                    </div>
                                    <div class="form-group">
                                        <router-link :to="'/subjects'" class="btn btn-md btn-danger">Back</router-link>
                                        <button type="submit" class="btn btn-primary btn-md float-right">{{ buttonMode ? 'Update' : 'Create' }}</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="col-lg-3"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    // Import component
    import Loading from 'vue-loading-overlay';
    // Import stylesheet
    import 'vue-loading-overlay/dist/vue-loading.css';
    export default {
        data () {
            return {
                editMode: false,
                buttonMode: false,
                classes: [],
                name: '',
                class_id: '',
                group_id: '',
                nameError: '',
                errorCount: 0,
                classError: '',
                groupError: '',

                isLoading: false,
                fullPage: true
            }
        },
        components: {
            Loading
        },
        mounted() {
            // this.isLoading = true
            axios.get(`/subject-edit/${this.$route.params.id}`)
                .then(response => {
                    // this.isLoading = false
                    this.editMode = true
                    this.buttonMode = true
                    this.name = response.data.name
                    this.class_id = response.data.class_id
                    this.group_id = response.data.group_id
                })
                .catch(error => {
                    console.log(error)
                })
        },
        created () {
            axios.get('/xhr/show/all/class')
                .then(response => {
                    //console.log(response)
                    this.classes = response.data
                })
                .catch(error => {
                    console.log(error)
                })
        },

        methods: {
            redirect() {
                this.$router.push({path: '/subjects'})
            },
            reset_error () {
                this.errorCount = 0
                this.nameError = ''
                this.classError = ''
                this.groupError = ''
            },
            validation_error () {
                if (this.name.length === 0) {
                    this.nameError = 'Please input your class name'
                    this.errorCount++
                }
                if (this.class_id.length === 0) {
                    this.classError = 'Please select a class name'
                    this.errorCount++
                }
                if (this.group_id.length === 0) {
                    this.groupError = 'Please select a group name'
                    this.errorCount++
                }
            },
            addSubject() {
                this.reset_error()
                this.validation_error()
                this.isLoading = true
                axios.post('/xhr/add/new-subject', {
                    name: this.name,
                    class_id: this.class_id,
                    group_id: this.group_id
                })
                .then(response => {
                    if (response.status === 201) {
                        this.onCancel()
                        this.name = ''
                        this.class_id = ''
                        this.group_id = ''
                        this.redirect()
                        EventBus.$emit('subject-inserted', response.data)
                        flash('Subject create successfully')
                    }
                })
                .catch(error => {
                    console.log(error)
                    this.isLoading = false
                    if (error.response.status === 422 || error.response.status === 500) {
                        this.nameError = error.response.data.errors.name
                        this.classError = error.response.data.errors.class_id
                        this.groupError = error.response.data.errors.group_id
                    }
                })
            },
            onCancel() {
                console.log('User cancelled the loader.')
            },

            update() {
                this.reset_error()
                this.validation_error()
                this.isLoading = true
                axios.post(`/subject-update/${this.$route.params.id}`, {
                    name: this.name,
                    class_id: this.class_id,
                    group_id: this.group_id
                })
                .then(response => {
                    if (response.status === 200) {
                        this.onCancel()
                        this.name = ''
                        this.class_id = ''
                        this.group_id = ''
                        this.redirect()
                        EventBus.$emit('subject-update', response.data)
                        flash('Subject update successfully')
                    }
                })
                .catch(error => {
                    this.isLoading = false
                    if (error.response.status === 422 || error.response.status === 500) {
                        this.nameError = error.response.data.errors.name
                        this.classError = error.response.data.errors.class_id
                        this.groupError = error.response.data.errors.group_id
                    }
                })
            }
        }
    }
</script>

<style scoped>
    .breadcums {
        list-style: none;
        text-decoration: none;
        color: black;
        font-family: "Courier New", Courier, monospace;
        font-size: 14px;
    }
    .bg-border {
        border: 2px solid deepskyblue;
    }
    .bg-sub {
        background-color: navajowhite;
    }
    div.sadow {
        width: 250px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        /*text-align: center;*/
    }
    .txt {
        text-align: center;
        padding-top: 10px;
        font-family: 'Just Another Hand', cursive;
    }
</style>
