<template>
    <div class="container-fluat">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-12">
                        <strong>
                            <router-link to="/home" class="breadcums">
                                <i class="nav-icon fas fa-tachometer-alt"></i>
                                <span>
                                    Dashboard
                                    <i class="right fas fa-angle-left"></i>
                                </span>
                            </router-link>
                            <span class="breadcums">Subjects List</span>
                        </strong>
                        <router-link :to="{name: 'create-subject'}" class="btn btn-md btn-success float-right">Add Subject</router-link>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="transaction-entry-field d-flex justify-content-between" style="margin-bottom: 10px">
                    <div class="d-flex">
                        <div>
                            <span class="mr-1">Show</span>
                        </div>
                        <div>
                            <select class="form-control form-control-xs selectpicker" v-model="perPage">
                                <option value="5">5</option>
                                <option value="10">10</option>
                                <option value="25">25</option>
                                <option value="50">50</option>
                                <option value="75">75</option>
                                <option value="100">100</option>
                            </select>
                        </div>
                        <div>
                            <span class="ml-1">entries</span>
                        </div>
                    </div>

                    <div class="d-flex justify-content-between">
                        <div class="d-flex"><span class="mr-1">Search:</span></div>
                        <div class="d-flex" style="margin-right: 10px;">
                            <select class="form-control" v-model="searchType">
                                <option value="all" selected>All</option>
                                <option value="class_name">Class Name</option>
                                <option value="group">Group Name</option>
                            </select>
                        </div>
                        <div class="d-flex">
                            <select
                                class="form-control"
                                style="width: 199px"
                                v-if="searchType==='group'"
                                v-model="group">
                                <option disabled>Select a group</option>
                                <option value="science">Science</option>
                                <option value="arts">Arts</option>
                                <option value="commerce">Commerce</option>
                                <option value="humanity">Humanity</option>
                                <option value="general">General</option>
                                <option value="no">NA</option>
                            </select>
                            <input type="text" class="form-control"
                                   v-if="searchType==='class_name'"
                                   v-model="search"
                                   :placeholder="searchPlaceholder">
                        </div>
                    </div>
                </div>
                <table class="table table-bordered">
                    <thead>
                        <tr class="align">
                            <th style="width: 10px">SN</th>
                            <th>Subject Name</th>
                            <th>Class Name</th>
                            <th>Group Name</th>
                            <th width="20%">Action</th>
                        </tr>
                    </thead>
                    <tbody v-if="subjectPages.length > 0">
                        <tr v-for="(subject, index) in subjectPages[currentPage -1]" :key="subject.id" class="align">
                            <td>{{ index+1 }}</td>
                            <td style="text-transform: capitalize">{{ subject.name }}</td>
                            <td v-if="subject.department">
                                <span>{{ subject.department.name }}</span>
                            </td>
                            <td v-else>
                                <span class="text text-danger">No class found</span>
                            </td>
                            <td>
                                <span v-if="subject.group_id === 'science'" class="badge badge-primary span">science</span>
                                <span v-if="subject.group_id === 'arts'" class="badge badge-success span">arts</span>
                                <span v-if="subject.group_id === 'commerce'" class="badge badge-info span">commerce</span>
                                <span v-if="subject.group_id === 'humanity'" class="badge badge-dark span">humanity</span>
                                <span v-if="subject.group_id === 'general'" class="badge badge-secondary span">general</span>
                                <span v-if="subject.group_id === 'no'" class="badge badge-danger span">no</span>
                            </td>
                            <td>
                                <router-link :to="{name: 'subject-edit', params: { id: subject.id }}" class="btn btn-sm btn-info" title="Edit">
                                    <i class="fas fa-edit"></i>
                                </router-link>
                                <button type="button" class="btn btn-danger btn-sm" title="Delete" @click="destroy(subject, index)">
                                    <i class="fas fa-trash-alt"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                    <tbody v-else>
                        <tr>
                            <td colspan="5" style="background-color: darkorange" role="alert">
                                {{ message }}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <paginate
                v-if="pageCount > 1"
                :page-count="pageCount"
                v-model="currentPage"
                :prev-text="'Prev'"
                :next-text="'Next'"
                :container-class="'pagination justify-content-center'"
            >
            </paginate>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                subjects: [],
                subjectPages: [],
                perPage: 10,
                pageCount: 1,
                currentPage: 1,
                message: 'Fetching Subjects list From The Server. Please Wait!',
                searchType: 'all',
                search: '',
                group: 'Select a group',
                searchPlaceholder: 'Searching...'
            }
        },
        watch: {
            searchType (value) {
                this.setCurrentPage(1)
                this.generatePages(this.subjects)
                this.group = ''
            },
            perPage (value) {
                this.setCurrentPage(1)
                this.generatePages(this.subjects)
            },
            group(value) {
                this.setCurrentPage(1)
                this.generatePages(this.subjects)
                if (this.group != '') {
                    let subjects = this.subjects.filter(subject => {
                        return subject.group_id == this.group
                    })

                    this.generatePages(subjects)
                }
            },
            search (value) {
                this.setCurrentPage(1)
                this.generatePages(this.subjects)
                if (this.search != '') {
                    let search = this.subjects.filter(c => {
                        if (c.department.name.indexOf(this.search) !== -1) {
                            return c
                        }
                    })
                    this.generatePages(search)
                }
            },
        },
        created() {
            axios.get('/xhr/show/all/subjects')
                .then(response => {
                    //console.log(response)
                    this.subjects = response.data
                    this.generatePages(this.subjects)

                    if (this.subjects.length === 0) {
                        this.message = 'Sorry! No subject found.'
                    }
                })
                .catch(error => {
                    console.log(error)
                })

            EventBus.$on('subject-inserted', payload => {
                this.subjects.unshift(payload)
                this.generatePages(this.subjects)
            })

            EventBus.$on('subject-update', payload => {
                console.log(payload)
                let index = this.subjects.findIndex(subject => {
                    return subject.id === payload.id
                })
                this.subjects[index] = payload
                this.generatePages(this.subjects)
            })
        },
        methods: {
            destroy(subject, index) {
                axios.delete('/subject-delete/' + subject.id)
                    .then(response => {
                        this.subjects.splice(index, 1)
                        flash('Subject has been deleted')
                        this.generatePages(this.subjects)
                    })
                    .catch(error => {
                        console.log(error)
                    })

            },
            setCurrentPage (page) {
                this.currentPage = page
            },
            generatePages (subjects) {
                this.subjectPages = _.chunk(subjects, this.perPage)

                this.pageCount = 0
                this.pageCount = this.subjectPages.length
                if (this.pageCount === 0) {
                    this.message = "Sorry! No subject name Found"
                }
            },
        }
    }
</script>

<style scoped>
    .breadcums {
        list-style: none;
        text-decoration: none;
        color: black;
        font-family: "Courier New", Courier, monospace;
        font-size: 14px;
    }
    .span {
        text-transform: capitalize;
        font-size: 12px;
        font-family: Arial;
    }
    .align {
        text-align: center;
    }
</style>
