<template>
    <div class="container-fluid">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-12">
                        <strong>
                            <router-link to="/home" class="breadcums">
                                <i class="nav-icon fas fa-tachometer-alt"></i>
                                <span>
                                    Dashboard
                                    <i class="right fas fa-angle-left"></i>
                                </span>
                            </router-link>
                            <router-link to="/student-list" class="breadcums">
                                <span>
                                    Student list
                                    <i class="right fas fa-angle-left"></i>
                                </span>
                            </router-link>
                            <span class="breadcums">Add new student</span>
                        </strong>
                    </div>
                </div>
            </div>
            <br/>
            <div class="card-body vld-parent">
                <loading :active.sync="isLoading"
                         :can-cancel="true"
                         :on-cancel="onCancel"
                         :is-full-page="fullPage"></loading>
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-1"></div>
                        <div class="col-lg-10 sadow">
                            <div class="col-lg-12">
                                <h2 class="txt">Add new student</h2>
                            </div>
                            <hr/>
                            <div class="card-body">
                                <form method="post" @submit.prevent="store()">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Student ID</label>
                                                <input type="text" class="form-control" v-model="stu_id" name="stu_id" placeholder="Student id">
                                                <span class="text-danger">{{studentIdError}}</span>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Student Name</label>
                                                <input type="text" class="form-control" v-model="name" name="name" placeholder="Student name">
                                                <span class="text-danger">{{nameError}}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Date of birth</label>
                                                <input type="date" class="form-control" v-model="dob" name="dob">
                                                <span class="text-danger">{{dobError}}</span>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Gender</label>
                                                <select class="form-control select2" style="width: 100%;" v-model="gender" name="gender">
                                                    <option value="" disabled>Select a gender</option>
                                                    <option value="male">Man</option>
                                                    <option value="female">Woman</option>
                                                    <option value="other">Other</option>
                                                </select>
                                                <span class="text-danger">{{genderError}}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Student phone</label>
                                                <input type="text" class="form-control" v-model="stu_phone" name="stu_phone" placeholder="Student Phone">
                                                <span class="text-danger">{{studentPhoneError}}</span>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Student Email</label>
                                                <input type="email" class="form-control" v-model="stu_email" name="stu_email" placeholder="Student email">
                                                <span class="text-danger">{{studentEmailError}}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Class Name</label>
                                                <select class="form-control select2" style="width: 100%;" v-model="class_id" name="class_id" @change="loadSubject">
                                                    <option value="" disabled>Select a class</option>
                                                    <option v-for="c in classes" :key="c.id" :value="c.id">{{ c.name }}</option>
                                                </select>
                                                <span class="text-danger">{{classError}}</span>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Group Name</label>
                                                <select class="form-control select2" style="width: 100%;" v-model="group_name" name="group_name">
                                                    <option value="" disabled>Select a group</option>
                                                    <option value="science">Science</option>
                                                    <option value="arts">Arts</option>
                                                    <option value="commerce">Commerce</option>
                                                    <option value="humanity">Humanity</option>
                                                    <option value="general">General</option>
                                                    <option value="no">NA</option>
                                                </select>
                                                <span class="text-danger">{{groupError}}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Father Name / Others Guardian</label>
                                                <input type="text" class="form-control" v-model="f_name" placeholder="Father name">
                                                <span class="text-danger">{{fatherNameError}}</span>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Mother Name</label>
                                                <input type="text" class="form-control" v-model="m_name" placeholder="Mother name">
                                                <span class="text-danger">{{motherNameError}}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Father phone / Others Guardian</label>
                                                <input type="text" class="form-control" v-model="f_phone" placeholder="Father phone">
                                                <span class="text-danger">{{fatherPhoneError}}</span>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Mother phone (optional)</label>
                                                <input type="text" class="form-control" v-model="m_phone" placeholder="Mother phone">
                                                <span class="text-danger">{{motherPhoneError}}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Father nid</label>
                                                <input type="text" class="form-control" v-model="f_nid" placeholder="Father nid">
                                                <span class="text-danger">{{fatherNidError}}</span>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Mother nid</label>
                                                <input type="text" class="form-control" v-model="m_nid" placeholder="Mother nid">
                                                <span class="text-danger">{{motherNidError}}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Father work</label>
                                                <select class="form-control select2" style="width: 100%;" v-model="f_work" name="f_work">
                                                    <option value="" disabled>Select a work</option>
                                                    <option value="job">Job</option>
                                                    <option value="business">Business</option>
                                                    <option value="farmer">Farmer</option>
                                                    <option value="no">NA</option>
                                                </select>
                                                <span class="text-danger">{{fatherWorkError}}</span>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Mother work</label>
                                                <select class="form-control select2" style="width: 100%;" v-model="m_work" name="m_work">
                                                    <option value="" disabled>Select a work</option>
                                                    <option value="job">Job</option>
                                                    <option value="business">Business</option>
                                                    <option value="house_wife">House wife</option>
                                                    <option value="no">NA</option>
                                                </select>
                                                <span class="text-danger">{{motherWorkError}}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>Present address</label>
                                            <textarea class="form-control" rows="5" name="present_address" v-model="present_address" placeholder="Enter your present address"></textarea>
                                            <span class="text-danger">{{presentAddressError}}</span>
                                        </div>
                                        <div class="col-md-6">
                                            <label>Permanent address</label>
                                            <textarea class="form-control" rows="5" name="permanent_address" v-model="permanent_address" placeholder="Enter your permanent address"></textarea>
                                            <span class="text-danger">{{permanentAddressError}}</span>
                                        </div>
                                    </div>
                                    <!-- /.form-group -->
                                    <div class="form-group" style="margin-top: 10px;">
                                        <label>Student Photo</label><br/>
                                        <img :src="photo" height="100px" width="150px" alt="Photo" class="fa-pull-left" style="border: 1px solid #000000"/>
                                        <input type="file" class="form-control" name="photo" @change="studentImageChange">
                                        <span class="text-danger">{{photoError}}</span>
                                    </div>
                                    <div class="form-group" style="margin-top: 10px;">
                                        <router-link :to="'/student-list'" class="btn btn-md btn-danger">Back</router-link>
                                        <button type="submit" class="btn btn-primary btn-md float-right">Create</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="col-lg-1"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    // Import component
    import Loading from 'vue-loading-overlay';
    // Import stylesheet
    import 'vue-loading-overlay/dist/vue-loading.css';
    export default {
        data () {
            return {
                classes : [],
                groups : [],
                stu_id: '',
                name: '',
                dob: '',
                gender: '',
                stu_phone: '',
                stu_email: '',
                class_id: '',
                group_name: '',
                f_name: '',
                m_name: '',
                f_phone: '',
                m_phone: '',
                f_nid: '',
                m_nid: '',
                m_work: '',
                f_work: '',
                present_address: '',
                permanent_address: '',
                photo: '',

                photoError: '',
                permanentAddressError: '',
                presentAddressError: '',
                motherNidError: '',
                fatherNidError: '',
                motherPhoneError: '',
                fatherPhoneError: '',
                motherNameError: '',
                fatherNameError: '',
                motherWorkError: '',
                fatherWorkError: '',
                groupError: '',
                classError: '',
                studentEmailError: '',
                studentPhoneError: '',
                genderError: '',
                dobError: '',
                nameError: '',
                studentIdError: '',

                isLoading: false,
                fullPage: true
            }
        },

        components: {
            Loading
        },

        created () {
            axios.get('/xhr/show/all/class')
                .then(response => {
                    //console.log(response)
                    this.classes = response.data
                })
                .catch(error => {
                    console.log(error)
                })
        },

        methods: {
            studentImageChange (e) {
                let image = e.target.files[0]
                let reader = new FileReader();
                reader.readAsDataURL(image);
                reader.onload = e => {
                    this.photo = e.target.result
                    //console.log(e.target.result)
                }
            },
        }
    }
</script>

<style scoped>
    .breadcums {
        list-style: none;
        text-decoration: none;
        color: black;
        font-family: "Courier New", Courier, monospace;
        font-size: 14px;
    }
    .bg-border {
        border: 2px solid deepskyblue;
    }
    .bg-sub {
        background-color: navajowhite;
    }
    div.sadow {
        width: 250px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        /*text-align: center;*/
    }
    .txt {
        text-align: center;
        padding-top: 10px;
        font-family: 'Just Another Hand', cursive;
    }
</style>
