<template>
    <div>
        <input type="text" class="form-control" v-model="classText" name="name[]" placeholder="add new class">
    </div>
</template>

<script>
    export default {
        props: {
            data: {
                type: Object,
                required: false
            }
        },
        data () {
            return {
                classText: this.data ? this.data.key : '',
            }
        },
        watch: {
            data(value) {
                this.classText = value.key
            },
            classText (value) {
                this.$emit('update-key', value, this.$vnode.key)
            },
        },
    }
</script>

<style scoped>

</style>
