<template>
    <div class="container-fluat">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-12">
                        <strong>
                            <router-link to="/home" class="breadcums">
                                <i class="nav-icon fas fa-tachometer-alt"></i>
                                <span>
                                    Dashboard
                                    <i class="right fas fa-angle-left"></i>
                                </span>
                            </router-link> /
                            <span class="breadcums">Class List</span>
                        </strong>
                        <button type="button" data-toggle="modal" data-target=".classModal" class="btn btn-success float-right">Add New Class</button>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="transaction-entry-field d-flex justify-content-between" style="margin-bottom: 10px">
                    <div class="d-flex">
                        <div>
                            <span class="mr-1">Show</span>
                        </div>
                        <div>
                            <select class="form-control form-control-xs selectpicker" v-model="perPage">
                                <option value="5">5</option>
                                <option value="10">10</option>
                                <option value="25">25</option>
                                <option value="50">50</option>
                                <option value="75">75</option>
                                <option value="100">100</option>
                            </select>
                        </div>
                        <div>
                            <span class="ml-1">entries</span>
                        </div>
                    </div>

                    <div class="d-flex justify-content-between">
<!--                        <div class="d-flex"><span class="mr-1">Search:</span></div>-->
                        <div class="d-flex" style="margin-right: 10px;">
                            <input type="text" class="form-control"
                                   v-model="search"
                                   :placeholder="searchPlaceholder">
                        </div>
<!--                        <div class="d-flex">-->
<!--                            <select-->
<!--                                class="form-control"-->
<!--                                style="width: 199px"-->
<!--                                v-if="searchType==='status'"-->
<!--                                v-model="status">-->
<!--                                <option value="" disabled>Select a status</option>-->
<!--                                <option value="active">Active</option>-->
<!--                                <option value="inactive">Inactive</option>-->
<!--                            </select>-->
<!--                            <input type="text" class="form-control"-->
<!--                                   v-if="searchType==='account' || searchType === 'investment'"-->
<!--                                   v-model="search"-->
<!--                                   :placeholder="searchPlaceholder">-->
<!--                        </div>-->
                    </div>
                </div>
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th style="width: 10px">SN</th>
                        <th>Name</th>
                        <th width="20%">Action</th>
                    </tr>
                    </thead>
                    <tbody v-if="classesPages.length > 0">
                    <tr v-for="(c, index) in classesPages[currentPage - 1]" :key="c.id">
                        <td>{{ index+1 }}</td>
                        <td>{{ c.name }}</td>
                        <td>
                            <RouterLink data-toggle="modal" data-target=".editClassModal" :to="{name: 'edit-class', params: { id: c.id }}"  class="btn btn-success btn-sm">Edit</RouterLink>
                            <button type="button" class="btn btn-info btn-sm">Students</button>
                            <button type="button" class="btn btn-danger btn-sm" @click="destroy(c, index)">Delete</button>
                        </td>
                    </tr>
                    </tbody>
                    <tbody v-else>
                    <tr>
                        <td colspan="3" style="background-color: darkorange" role="alert">
                            {{ message }}
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <paginate
                v-if="pageCount > 1"
                :page-count="pageCount"
                v-model="currentPage"
                :prev-text="'Prev'"
                :next-text="'Next'"
                :container-class="'pagination justify-content-center'"
            >
            </paginate>
        </div>
        <class-modal></class-modal>
        <Edit/>
    </div>
</template>

<script>
    import ClassModal from "./ClassModal";
    import Edit from "./Edit";
    export default {
        data() {
            return {
                classes: [],
                classesPages: [],
                perPage: 10,
                pageCount: 1,
                currentPage: 1,
                message: 'Fetching Class list From The Server. Please Wait!',
                searchType: '',
                search: '',
                searchPlaceholder: 'Searching...'
            }
        },
        components: { ClassModal, Edit },
        watch: {
            perPage (value) {
                this.setCurrentPage(1)
                this.generatePages(this.classes)
            },
            search (value) {
                this.setCurrentPage(1)
                this.generatePages(this.classes)
                if (this.search != '') {
                    let search = this.classes.filter(c => {
                        if (c.name.indexOf(this.search) !== -1) {
                            return c
                        }
                    })
                    this.generatePages(search)
                }
            },
        },
        created() {
            axios.get('/xhr/show/all/class')
            .then(response => {
                //console.log(response)
                this.classes = response.data
                this.generatePages(this.classes)

                if (this.classes.length === 0) {
                    this.message = 'Sorry! No Class Found.'
                }
            })
            .catch(error => {
                console.log(error)
            })

            EventBus.$on('class-inserted', payload => {
                this.classes.unshift(payload)
                this.generatePages(this.classes)
            })
        },
        methods: {
            destroy(c, index) {
                axios.delete('/class-delete/' + c.id)
                .then(response => {
                    this.classes.splice(index, 1)
                    this.generatePages(this.classes)
                })
                .catch(error => {
                    console.log(error)
                })

            },
            setCurrentPage (page) {
                this.currentPage = page
            },
            generatePages (classes) {
                this.classesPages = _.chunk(classes, this.perPage)

                this.pageCount = 0
                this.pageCount = this.classesPages.length
                if (this.pageCount === 0) {
                    this.message = "Sorry! No Class name Found"
                }
            },
        }
    }
</script>

<style scoped>
    .breadcums {
        list-style: none;
        text-decoration: none;
        color: black;
        font-family: "Courier New", Courier, monospace;
        font-size: 14px;
    }
</style>
