<template>
    <div id="app">
        <div class="modal fade classModal" tabindex="-1" role="dialog" aria-labelledby="classModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document" style="position: relative;" id="create-class">
                <div id="loading" style="display: none">
                    <i class="fa fa-spinner fa-pulse fa-5x fa-fw" aria-hidden="true"></i>
                </div>
                <div class="modal-content">
                    <div class="card-header bg-primary">
                        <div class="card-title">
                            <h2>{{ modalTitle }}</h2>
                        </div>
                    </div>
                    <form method="POST" @submit.prevent="addNewClass">
                        <div class="card-body">
                            <div class="form-group">
                                <label>Class Name</label>
                                <input type="text" class="form-control" v-model="name" name="name" placeholder="add new class">
                                <span class="text-danger" v-model="nameError">{{nameError}}</span>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Send</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data () {
            return {
                name: '',
                nameError: '',
                errorCount: 0,
                modalTitle: 'Add new class'
            }
        },
        methods: {
            reset_error () {
                this.errorCount = 0
                this.nameError = ''
            },
            validation_error () {
                if (this.name.length === 0) {
                    this.nameError = 'Please input your class name'
                    this.errorCount++
                }
            },
            loading () {
                let height = parseInt(document.getElementById('create-class').offsetHeight)
                let padding = (height - 40) / 2
                let loadingStyle = `height: ${height}px; text-align: center; padding: ${padding}px 80px;background: rgba(35, 35, 35, 0.26) none repeat scroll 0% 0%; position: absolute; z-index: 2;width: 100%;top: 0;left:0`
                document.getElementById('loading').setAttribute('style', loadingStyle)
            },
            start_loading () {
                document.getElementById('loading').setAttribute('style', 'display: none')
            },
            end_loading () {
                document.getElementById('loading').setAttribute('style', 'display: none')
            },
            addNewClass() {
                this.reset_error()
                this.validation_error()

                this.loading()
                axios.post('/add/new-class', {
                    name: this.name
                })
                .then(response => {
                    console.log(response)
                    if (response.status === 201) {
                        this.start_loading()
                        this.name = ''
                        $('.classModal').modal('hide')
                        EventBus.$emit('class-inserted', response.data)
                        flash('Class has been successfully inserted')
                    }
                })
                .catch(error => {
                    console.log(error)
                    if (error.status === 422) {
                        this.end_loading()
                        $('.classModal').modal('hide')
                        flash('Something is wrong, please try again')
                    }
                })
            }
        }
    }
</script>

<style scoped>

</style>
