<template>
    <div id="app">
        <div class="modal fade editClassModal" tabindex="-1" role="dialog" aria-labelledby="editClassModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document" style="position: relative;" id="edit-class">
                <div id="edit_loading" style="display: none">
                    <i class="fa fa-spinner fa-pulse fa-5x fa-fw" aria-hidden="true"></i>
                </div>
                <div class="modal-content">
                    <div class="card-header bg-primary">
                        <div class="card-title">
                            <h2>{{ modalTitle }}</h2>
                        </div>
                    </div>
                    <form method="POST" @submit.prevent="update">

                        <div class="card-body">
                            <div class="form-group">
                                <label>Class Name</label>
                                <input type="text" class="form-control" v-model="name" name="name" placeholder="update class">
                                <span class="text-danger" v-model="nameError">{{nameError}}</span>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal" @click="close">Close</button>
                                <button type="submit" class="btn btn-primary">Update</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data () {
            return {
                name: '',
                nameError: '',
                errorCount: 0,
                modalTitle: 'Edit class'
            }
        },
        mounted() {
            axios.get(`/class-edit/${this.$route.params.id}`)
            .then(response => {
                //console.log(response)
                this.name = response.data.name
            })
            .catch(error => {
                console.log(error)
            })
        },
        methods: {
            close() {
                this.$router.push({path: '/class-list'})
            },
            update() {
                axios.post(`/class-update/${this.$route.params.id}`, {
                    name: this.name
                })
                .then(response => {
                    console.log(response)
                    if (response.status === 200) {
                        this.name = ''
                        $('.editClassModal').modal('hide')
                        this.close()
                        flash('Class has been successfully updated')
                    }
                })
                .catch(error => {
                    console.log(error)
                })
            }
        }
    }
</script>

<style scoped>

</style>
