<template>
    <div class="container-fluat">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-12">
                        <strong>
                            <router-link to="/home" class="breadcums">
                                <i class="nav-icon fas fa-tachometer-alt"></i>
                                <span>
                                    Dashboard
                                    <i class="right fas fa-angle-left"></i>
                                </span>
                            </router-link>
                            <span class="breadcums">Collect Books List</span>
                        </strong>
                        <router-link :to="{name: 'create-collect-book'}" class="btn btn-md btn-success float-right">Collect</router-link>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <loading :active.sync="isLoading"
                         :can-cancel="true"
                         :on-cancel="onCancel"
                         :is-full-page="fullPage"></loading>
                <div class="transaction-entry-field d-flex justify-content-between" style="margin-bottom: 10px">
                    <div class="d-flex">
                        <div>
                            <span class="mr-1">Show</span>
                        </div>
                        <div>
                            <select class="form-control form-control-xs selectpicker" v-model="perPage">
                                <option value="5">5</option>
                                <option value="10">10</option>
                                <option value="25">25</option>
                                <option value="50">50</option>
                                <option value="75">75</option>
                                <option value="100">100</option>
                            </select>
                        </div>
                        <div>
                            <span class="ml-1">entries</span>
                        </div>
                    </div>

                    <div class="d-flex justify-content-between">
                        <div class="d-flex"><span class="mr-1">Search:</span></div>
                        <div class="d-flex" style="margin-right: 10px;">
                            <select class="form-control" v-model="searchType">
                                <option value="all" selected>All</option>
                                <option value="class_name">Class Name</option>
                                <option value="group">Group Name</option>
                                <option value="status">Status</option>
                            </select>
                        </div>
                        <div class="d-flex">
                            <select
                                class="form-control"
                                style="width: 199px"
                                v-if="searchType==='group'"
                                v-model="group">
                                <option disabled>Select a group</option>
                                <option value="science">Science</option>
                                <option value="arts">Arts</option>
                                <option value="commerce">Commerce</option>
                                <option value="humanity">Humanity</option>
                                <option value="general">General</option>
                                <option value="no">NA</option>
                            </select>
                            <select
                                class="form-control"
                                style="width: 199px"
                                v-if="searchType==='status'"
                                v-model="status">
                                <option disabled>Select a status</option>
                                <option value="1">Collect</option>
                                <option value="0">Return</option>
                            </select>
                            <input type="text" class="form-control"
                                   v-if="searchType==='class_name'"
                                   v-model="search"
                                   :placeholder="searchPlaceholder">
                        </div>
                    </div>
                </div>
                <table class="table table-bordered">
                    <thead>
                    <tr class="align">
                        <th width="10%">Student Id</th>
                        <th>Student Name</th>
                        <th>Subject Name</th>
                        <th>Class Name</th>
                        <th>Group Name</th>
                        <th>Collect date</th>
                        <th>Return date</th>
                        <th>Status</th>
                        <th width="10%">Action</th>
                    </tr>
                    </thead>
                    <tbody v-if="bookCollectPages.length > 0">
                        <tr v-for="(collect, index) in bookCollectPages[currentPage -1]" :key="collect.id" class="align">
                            <td>{{ collect.stu_id }}</td>
                            <td style="text-transform: capitalize">{{ collect.name }}</td>
                            <td style="text-transform: capitalize">{{ collect.subjects.name }}</td>
                            <td style="text-transform: capitalize">{{ collect.classes.name }}</td>
                            <td style="text-transform: capitalize">{{ collect.group_name }}</td>
                            <td>{{ collect.collect_date }}</td>
                            <td>{{ collect.return_date }}</td>
                            <td v-if="collect.status === 1"> <span class="badge badge-danger span" style="text-transform: capitalize;">collect</span></td>
                            <td v-else><span class="badge badge-success span" style="text-transform: capitalize">return</span></td>
                            <td>
                                <router-link :to="{name: 'book-collect-edit', params: { id: collect.id }}" class="btn btn-sm btn-info" title="Edit">
                                    <i class="fas fa-edit"></i>
                                </router-link>
                                <button type="button" class="btn btn-danger btn-sm" title="Delete" @click="destroy(collect, index)">
                                    <i class="fas fa-trash-alt"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                    <tbody v-else>
                    <tr>
                        <td colspan="9" style="background-color: darkorange" role="alert">
                            {{ message }}
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <paginate
                v-if="pageCount > 1"
                :page-count="pageCount"
                v-model="currentPage"
                :prev-text="'Prev'"
                :next-text="'Next'"
                :container-class="'pagination justify-content-center'"
            >
            </paginate>
        </div>
    </div>
</template>

<script>
    // Import component
    import Loading from 'vue-loading-overlay';
    // Import stylesheet
    import 'vue-loading-overlay/dist/vue-loading.css';
    export default {
        data() {
            return {
                bookCollects: [],
                bookCollectPages: [],
                perPage: 10,
                pageCount: 1,
                currentPage: 1,
                message: 'Fetching book collect From The Server. Please Wait.....!',
                searchType: 'all',
                search: '',
                group: 'Select a group',
                status: 'Select a status',
                searchPlaceholder: 'Searching...',

                isLoading: false,
                fullPage: true
            }
        },
        components: {
            Loading
        },
        watch: {
            searchType (value) {
                this.setCurrentPage(1)
                this.generatePages(this.bookCollects)
            },
            perPage (value) {
                this.setCurrentPage(1)
                this.generatePages(this.bookCollects)
            },
            group(value) {
                this.setCurrentPage(1)
                this.generatePages(this.bookCollects)
                if (this.group != '') {
                    let collects = this.bookCollects.filter(collect => {
                        return collect.group_name == this.group
                    })

                    this.generatePages(collects)
                }
            },
            status(value) {
                this.setCurrentPage(1)
                this.generatePages(this.bookCollects)
                if (this.status != '') {
                    let status = this.bookCollects.filter(collect => {
                        return parseInt(collect.status) == parseInt(this.status)
                    })

                    this.generatePages(status)
                }
            },
            search (value) {
                this.setCurrentPage(1)
                this.generatePages(this.bookCollects)
                if (this.search != '') {
                    let search = this.bookCollects.filter(c => {
                        if (c.classes.name.indexOf(this.search) !== -1) {
                            return c
                        }
                    })
                    this.generatePages(search)
                }
            },
        },
        created() {
            this.isLoading = true
            axios.get('/show/all/collect/book')
                .then(response => {
                    //console.log(response)
                    if(response.status === 200) {
                        this.bookCollects = response.data
                        this.generatePages(this.bookCollects)
                        this.isLoading = false
                        this.onCancel()
                    }

                    if (this.bookCollects.length === 0) {
                        this.message = 'Sorry! No collect book found.'
                    }
                })
                .catch(error => {
                    console.log(error)
                })

            EventBus.$on('book-collect', payload => {
                this.bookCollects.unshift(payload)
                this.generatePages(this.bookCollects)
            })

            EventBus.$on('book-collect-update', payload => {
                //console.log(payload)
                let index = this.bookCollects.findIndex(collect => {
                    return collect.id === payload.id
                })
                this.bookCollects[index] = payload
                this.generatePages(this.bookCollects)
            })
        },
        methods: {
            destroy(book, index) {
                axios.delete('/collect-book-delete/' + book.id)
                    .then(response => {
                        this.bookCollects.splice(index, 1)
                        flash('Data delete has been successfully')
                        this.generatePages(this.bookCollects)
                    })
                    .catch(error => {
                        console.log(error)
                    })

            },
            onCancel() {
                console.log('User cancelled the loader.')
            },
            active (book) {
                axios.post('/book/' + book.id +'/active')
                    .then(response => {
                        if (response.status === 200) {
                            this.libraries = this.libraries.map(b => {
                                if (b.id === book.id) {
                                    b.status = 1
                                }
                                return b
                            })
                            this.generatePages(this.libraries)
                            flash('Book active successfully!');
                        }
                    })
                    .catch(error => {
                        console.log(error)
                    })
            },
            inactive (book) {
                axios.post('/book/' + book.id +'/inactive')
                    .then(response => {
                        if (response.status === 200) {
                            this.libraries = this.libraries.map(b => {
                                if (b.id === book.id) {
                                    b.status = 0
                                }
                                return b
                            })
                            this.generatePages(this.libraries)
                            flash('Book inactive successfully!');
                        }
                    })
                    .catch(error => {
                        console.log(error)
                    })
            },
            setCurrentPage (page) {
                this.currentPage = page
            },
            generatePages (bookCollects) {
                this.bookCollectPages = _.chunk(bookCollects, this.perPage)

                this.pageCount = 0
                this.pageCount = this.bookCollectPages.length
                if (this.pageCount === 0) {
                    this.message = "Sorry! No collect book found"
                }
            },
        }
    }
</script>

<style scoped>
    .breadcums {
        list-style: none;
        text-decoration: none;
        color: black;
        font-family: "Courier New", Courier, monospace;
        font-size: 14px;
    }
    .span {
        text-transform: capitalize;
        font-size: 12px;
        font-family: Arial;
    }
    .align {
        text-align: center;
    }
</style>
