<template>
    <div class="container-fluid">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-12">
                        <strong>
                            <router-link to="/home" class="breadcums">
                                <i class="nav-icon fas fa-tachometer-alt"></i>
                                <span>
                                    Dashboard
                                    <i class="right fas fa-angle-left"></i>
                                </span>
                            </router-link>
                            <router-link to="/book-list" class="breadcums">
                                <span>
                                    Books list
                                    <i class="right fas fa-angle-left"></i>
                                </span>
                            </router-link>
                            <span class="breadcums">Book create</span>
                        </strong>
                    </div>
                </div>
            </div>
            <br/>
            <div class="card-body vld-parent">
                <loading :active.sync="isLoading"
                         :can-cancel="true"
                         :on-cancel="onCancel"
                         :is-full-page="fullPage"></loading>
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-3"></div>
                        <div class="col-lg-6 sadow">
                            <div class="col-lg-12">
                                <h2 class="txt">{{ editMode ? " Edit" : " Add New" }} Book</h2>
                            </div>
                            <hr/>
                            <div class="card-body">
                                <form method="post" @submit.prevent="editMode ? update () : store()">
                                    <div class="form-group">
                                        <label>Class Name</label>
                                        <select class="form-control select2" style="width: 100%;" v-model="class_id" name="class_id">
                                            <option value="" disabled>Select a class</option>
                                            <option v-for="c in classes" :key="c.id" :value="c.id">{{ c.name }}</option>
                                        </select>
                                        <span class="text-danger">{{classError}}</span>
                                    </div>
                                    <div class="form-group">
                                        <label>Subject Name</label>
                                        <select class="form-control select2" style="width: 100%;" v-model="subject_id" name="subject_id">
                                            <option value="" disabled>Select a subject</option>
                                            <option v-for="subject in subjects" :key="subject.id" :value="subject.id">{{ subject.name }}</option>
                                        </select>
                                        <span class="text-danger">{{subjectError}}</span>
                                    </div>
                                    <!-- /.form-group -->
                                    <div class="form-group">
                                        <label>Group Name</label>
                                        <select class="form-control select2" style="width: 100%;" v-model="group_name" name="group_name">
                                            <option value="" disabled>Select a group</option>
                                            <option value="science">Science</option>
                                            <option value="arts">Arts</option>
                                            <option value="commerce">Commerce</option>
                                            <option value="humanity">Humanity</option>
                                            <option value="general">General</option>
                                            <option value="no">NA</option>
                                        </select>
                                        <span class="text-danger">{{groupError}}</span>
                                    </div>
                                    <div class="form-group">
                                        <label>Status</label>
                                        <select class="form-control select2" style="width: 100%;" v-model="status" name="status">
                                            <option value="" disabled>Select a status</option>
                                            <option value="1">Available</option>
                                            <option value="0">Unavailable</option>
                                        </select>
                                        <span class="text-danger">{{statusError}}</span>
                                    </div>
                                    <div class="form-group">
                                        <router-link :to="'/book-list'" class="btn btn-md btn-danger">Back</router-link>
                                        <button type="submit" class="btn btn-primary btn-md float-right">{{ buttonMode ? 'Update' : 'Create' }}</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="col-lg-3"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    // Import component
    import Loading from 'vue-loading-overlay';
    // Import stylesheet
    import 'vue-loading-overlay/dist/vue-loading.css';
    export default {
        data () {
            return {
                classes: [],
                subjects: [],
                subject_id: '',
                class_id: '',
                group_name: '',
                status: '',
                errorCount: 0,
                subjectError: '',
                classError: '',
                groupError: '',
                statusError: '',
                editMode: false,
                buttonMode: false,
                isLoading: false,
                fullPage: true
            }
        },
        mounted() {
            // this.isLoading = true
            axios.get(`/book-edit/${this.$route.params.id}`)
                .then(response => {
                    // this.isLoading = false
                    this.editMode = true
                    this.buttonMode = true
                    this.name = response.data.name
                    this.class_id = response.data.class_id
                    this.group_name = response.data.group_name
                    this.subject_id = response.data.subject_id
                    this.status = response.data.status
                })
                .catch(error => {
                    console.log(error)
                })
        },
        created () {
            axios.get('/xhr/show/all/class')
                .then(response => {
                    //console.log(response)
                    this.classes = response.data
                })
                .catch(error => {
                    console.log(error)
                })

            axios.get('/xhr/show/all/subject')
                .then(response => {
                    //console.log(response)
                    this.subjects = response.data
                })
                .catch(error => {
                    console.log(error)
                })
        },
        components: {
            Loading
        },
        methods: {
            onCancel() {
                console.log('User cancelled the loader.')
            },

            redirect() {
                this.$router.push({path: '/book-list'})
            },

            reset_book_validation() {
              this.errorCount = 0
              this.classError = ''
              this.subjectError = ''
              this.groupError = ''
              this.statusError = ''
            },
            book_validation () {
                if (this.class_id.length === 0) {
                    this.classError = 'Please select a class name'
                    this.errorCount++
                }
                if (this.subject_id.length === 0) {
                    this.subjectError = 'Please select a subject name'
                    this.errorCount++
                }
                if (this.group_name.length === 0) {
                    this.groupError = 'Please select a group name'
                    this.errorCount++
                }
                if (this.status.length === 0) {
                    this.statusError = 'Please select a status'
                    this.errorCount++
                }
            },
            store() {
                this.reset_book_validation()
                this.book_validation()
                this.isLoading = true
                axios.post('/add/new/subject', {
                    subject_id: this.subject_id,
                    class_id: this.class_id,
                    group_name: this.group_name,
                    status: this.status,
                })
                .then(response => {
                    if (response.status === 201) {
                        this.onCancel()
                        this.group_name = ''
                        this.class_id = ''
                        this.subject_id = ''
                        this.status = ''
                        this.redirect()
                        EventBus.$emit('book-inserted', response.data)
                        flash('Book create successfully')
                    }
                })
                .catch(error => {
                    this.isLoading = false
                    console.log(error)
                    if (error.response.status === 422 || error.response.status === 500) {
                        this.classError = error.response.data.errors.class_id
                        this.groupError = error.response.data.errors.group_name
                        this.subjectError = error.response.data.errors.subject_id
                    }
                })
            },
            update() {
                this.reset_book_validation()
                this.book_validation()
                this.isLoading = true
                axios.post(`/book-update/${this.$route.params.id}`, {
                    name: this.name,
                    class_id: this.class_id,
                    subject_id: this.subject_id,
                    group_name: this.group_name,
                    status: this.status,
                })
                    .then(response => {
                        if (response.status === 200) {
                            this.onCancel()
                            this.name = ''
                            this.class_id = ''
                            this.group_name = ''
                            this.subject_id = ''
                            this.status = ''
                            this.redirect()
                            EventBus.$emit('book-update', response.data)
                            flash('Book update successfully')
                        }
                    })
                    .catch(error => {
                        this.isLoading = false
                        if (error.response.status === 422 || error.response.status === 500) {
                            this.nameError = error.response.data.errors.name
                            this.classError = error.response.data.errors.class_id
                            this.groupError = error.response.data.errors.group_name
                            this.subjectError = error.response.data.errors.subject_id
                        }
                    })
            }
        },
    }
</script>

<style scoped>
    .breadcums {
        list-style: none;
        text-decoration: none;
        color: black;
        font-family: "Courier New", Courier, monospace;
        font-size: 14px;
    }
    .bg-border {
        border: 2px solid deepskyblue;
    }
    .bg-sub {
        background-color: navajowhite;
    }
    div.sadow {
        width: 250px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        /*text-align: center;*/
    }
    .txt {
        text-align: center;
        padding-top: 10px;
        font-family: 'Just Another Hand', cursive;
    }
</style>
