<template>
    <div class="container-fluid">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-12">
                        <strong>
                            <router-link to="/home" class="breadcums">
                                <i class="nav-icon fas fa-tachometer-alt"></i>
                                <span>
                                    Dashboard
                                    <i class="right fas fa-angle-left"></i>
                                </span>
                            </router-link>
                            <router-link to="/collect-book" class="breadcums">
                                <span>
                                    Collect Books list
                                    <i class="right fas fa-angle-left"></i>
                                </span>
                            </router-link>
                            <span class="breadcums">Collect Book {{ bredMode ? " Edit" : "Create" }}</span>
                        </strong>
                    </div>
                </div>
            </div>
            <br/>
            <div class="card-body vld-parent">
                <loading :active.sync="isLoading"
                         :can-cancel="true"
                         :on-cancel="onCancel"
                         :is-full-page="fullPage"></loading>
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-1"></div>
                        <div class="col-lg-10 sadow">
                            <div class="col-lg-12">
                                <h2 class="txt">{{ editMode ? " Edit" : "New" }} Book Collect</h2>
                            </div>
                            <hr/>
                            <div class="card-body">
                                <form method="post" @submit.prevent="editMode ? update () : store()">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Student Name</label>
                                                <input type="text" class="form-control" v-model="name" placeholder="Student name">
                                                <span class="text-danger">{{nameError}}</span>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Student ID</label>
                                                <input type="text" class="form-control" v-model="stu_id" placeholder="Student id">
                                                <span class="text-danger">{{studentIdError}}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Class Name</label>
                                                <select class="form-control select2" style="width: 100%;" v-model="class_id" name="class_id" @change="loadSubject">
                                                    <option value="" disabled>Select a class</option>
                                                    <option v-for="c in classes" :key="c.id" :value="c.id">{{ c.name }}</option>
                                                </select>
                                                <span class="text-danger">{{classError}}</span>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Subject Name</label>
                                                <select class="form-control select2" style="width: 100%;" v-model="subject_id" name="subject_id">
                                                    <option value="" disabled>Select a subject</option>
                                                    <option v-for="subject in subjects" :key="subject.id" :value="subject.id">{{ subject.name }}</option>
                                                </select>
                                                <span class="text-danger">{{subjectError}}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Group Name</label>
                                                <select class="form-control select2" style="width: 100%;" v-model="group_name" name="group_name">
                                                    <option value="" disabled>Select a group</option>
                                                    <option value="science">Science</option>
                                                    <option value="arts">Arts</option>
                                                    <option value="commerce">Commerce</option>
                                                    <option value="humanity">Humanity</option>
                                                    <option value="general">General</option>
                                                    <option value="no">NA</option>
                                                </select>
                                                <span class="text-danger">{{groupError}}</span>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Status</label>
                                                <select class="form-control select2" style="width: 100%;" v-model="status" name="status">
                                                    <option value="" disabled>Select a status</option>
                                                    <option value="1">Collect</option>
                                                    <option value="0">Return</option>
                                                </select>
                                                <span class="text-danger">{{statusError}}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>Collect Date</label>
                                            <input type="date" name="collect_date" class="form-control" v-model="collect_date">
                                            <span class="text-danger">{{collectDataError}}</span>
                                        </div>
                                        <div class="col-md-6">
                                            <label>Return Date</label>
                                            <input type="date" name="return_date" class="form-control" v-model="return_date">
                                            <span class="text-danger">{{returnDateError}}</span>
                                        </div>
                                    </div>
                                    <!-- /.form-group -->
                                    <!-- <div class="form-group" style="margin-top: 10px;">
                                        <label>Student Photo</label><br/>
                                        <img :src="photo" height="100px" width="150px" alt="Photo" class="fa-pull-left" style="border: 1px solid #000000"/>
                                        <input type="file" class="form-control" name="photo" @change="studentImageChange">
                                        <span class="text-danger">{{photoError}}</span>
                                    </div> -->
                                    <div class="form-group" style="margin-top: 10px;">
                                        <router-link :to="'/collect-book'" class="btn btn-md btn-danger">Back</router-link>
                                        <button type="submit" class="btn btn-primary btn-md float-right">{{ buttonMode ? 'Update' : 'Create' }}</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="col-lg-1"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    // Import component
    import Loading from 'vue-loading-overlay';
    // Import stylesheet
    import 'vue-loading-overlay/dist/vue-loading.css';
    export default {
        data () {
            return {
                classes: [],
                subjects: [],
                name: '',
                stu_id: '',
                subject_id: '',
                class_id: '',
                group_name: '',
                status: '',
                //photo: '',
                collect_date: '',
                return_date: '',
                errorCount: 0,
                nameError: '',
                subjectError: '',
                classError: '',
                groupError: '',
                statusError: '',
                //photoError: '',
                studentIdError: '',
                collectDataError: '',
                returnDateError: '',
                editMode: false,
                buttonMode: false,
                bredMode: false,
                isLoading: false,
                fullPage: true
            }
        },
        mounted() {
            // this.isLoading = true
            axios.get(`/book-collect-edit/${this.$route.params.id}`)
                .then(response => {
                    // this.isLoading = false
                    this.editMode = true
                    this.buttonMode = true
                    this.bredMode = true
                    this.name = response.data.name
                    this.stu_id = response.data.stu_id
                    this.class_id = response.data.class_id
                    this.group_name = response.data.group_name
                    this.subject_id = response.data.subject_id
                    this.collect_date = response.data.collect_date
                    this.return_date = response.data.return_date
                    this.status = response.data.status
                })
                .catch(error => {
                    console.log(error)
                })
        },
        created () {
            axios.get('/xhr/show/all/class')
                .then(response => {
                    //console.log(response)
                    this.classes = response.data
                })
                .catch(error => {
                    console.log(error)
                })

            axios.get('/xhr/show/all/subject')
                .then(response => {
                    //console.log(response)
                    this.subjects = response.data
                })
                .catch(error => {
                    console.log(error)
                })
        },
        components: {
            Loading
        },
        methods: {
            loadSubject () {
                axios.get(`/department-subjects/${this.class_id}`)
                    .then(response => this.subjects = response.data)
                    .catch(error => console.log(error))
            },
            studentImageChange (e) {
                let image = e.target.files[0]
                let reader = new FileReader();
                reader.readAsDataURL(image);
                reader.onload = e => {
                    this.photo = e.target.result
                    //console.log(e.target.result)
                }
            },
            onCancel() {
                console.log('User cancelled the loader.')
            },

            redirect() {
                this.$router.push({path: '/collect-book'})
            },

            reset_book_validation() {
              this.errorCount = 0
              this.classError = ''
              this.nameError = ''
              this.subjectError = ''
              this.groupError = ''
              this.statusError = ''
              //this.photoError = ''
              this.collectDataError = ''
              this.returnDateError = ''
              this.studentIdError = ''
            },
            book_validation () {
                if (this.name.length === 0) {
                    this.nameError = 'Please input name'
                    this.errorCount++
                }
                if (this.stu_id.length === 0) {
                    this.studentIdError = 'Please input student id'
                    this.errorCount++
                }
                // if (this.photo.length === 0) {
                //     this.photoError = 'Please select student photo'
                //     this.errorCount++
                // }
                if (this.class_id.length === 0) {
                    this.classError = 'Please select a class name'
                    this.errorCount++
                }
                if (this.subject_id.length === 0) {
                    this.subjectError = 'Please select a subject name'
                    this.errorCount++
                }
                if (this.group_name.length === 0) {
                    this.groupError = 'Please select a group name'
                    this.errorCount++
                }
                if (this.status.length === 0) {
                    this.statusError = 'Please select a status'
                    this.errorCount++
                }
                if (this.collect_date.length === 0) {
                    this.collectDataError = 'Please select a collect date'
                    this.errorCount++
                }
                if (this.return_date.length === 0) {
                    this.returnDateError = 'Please select a return date'
                    this.errorCount++
                }
            },
            store() {
                this.reset_book_validation()
                this.book_validation()
                this.isLoading = true

                axios.post('/add/new/collect/book', {
                    name:           this.name,
                    class_id:       this.class_id,
                    subject_id:     this.subject_id,
                    group_name:     this.group_name,
                    status:         this.status,
                    stu_id:         this.stu_id,
                    collect_date:   this.collect_date,
                    return_date:    this.return_date
                })
                .then(response => {
                    console.log(response)
                    if (response.status === 201) {
                        this.onCancel()
                        this.group_name = ''
                        this.class_id = ''
                        this.subject_id = ''
                        this.status = ''
                        this.stu_id = ''
                        this.name = ''
                        this.collect_date = ''
                        this.return_date = ''
                        this.redirect()
                        EventBus.$emit('book-collect', response.data)
                        flash('Book has been collected')
                    }
                })
                .catch(error => {
                    this.isLoading = false
                    console.log(error)
                    if (error.response.status === 422 || error.response.status === 500) {
                        this.classError         = error.response.data.errors.class_id
                        this.groupError         = error.response.data.errors.group_name
                        this.subjectError       = error.response.data.errors.subject_id
                        this.nameError          = error.response.data.errors.name
                        this.statusError        = error.response.data.errors.status
                        this.collectDataError   = error.response.data.errors.collect_date
                        this.returnDateError    = error.response.data.errors.return_date
                        this.studentIdError     = error.response.data.errors.stu_id
                    }
                })
            },
            update() {
                this.reset_book_validation()
                this.book_validation()
                this.isLoading = true
                axios.post(`/collect-book-update/${this.$route.params.id}`, {
                    name:           this.name,
                    class_id:       this.class_id,
                    subject_id:     this.subject_id,
                    group_name:     this.group_name,
                    status:         this.status,
                    stu_id:         this.stu_id,
                    collect_date:   this.collect_date,
                    return_date:    this.return_date
                })
                    .then(response => {
                    console.log(response)
                    if (response.status === 200) {
                        this.onCancel()
                        this.group_name = ''
                        this.class_id = ''
                        this.subject_id = ''
                        this.status = ''
                        this.stu_id = ''
                        this.name = ''
                        this.collect_date = ''
                        this.return_date = ''
                        this.redirect()
                        EventBus.$emit('book-collect-update', response.data)
                        flash('Book has been updated')
                    }
                })
                .catch(error => {
                    this.isLoading = false
                    console.log(error)
                    if (error.response.status === 422 || error.response.status === 500) {
                        this.classError         = error.response.data.errors.class_id
                        this.groupError         = error.response.data.errors.group_name
                        this.subjectError       = error.response.data.errors.subject_id
                        this.nameError          = error.response.data.errors.name
                        this.statusError        = error.response.data.errors.status
                        this.collectDataError   = error.response.data.errors.collect_date
                        this.returnDateError    = error.response.data.errors.return_date
                        this.studentIdError     = error.response.data.errors.stu_id
                    }
                })
            }
        },
    }
</script>

<style scoped>
    .breadcums {
        list-style: none;
        text-decoration: none;
        color: black;
        font-family: "Courier New", Courier, monospace;
        font-size: 14px;
    }
    .bg-border {
        border: 2px solid deepskyblue;
    }
    .bg-sub {
        background-color: navajowhite;
    }
    div.sadow {
        width: 250px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        /*text-align: center;*/
    }
    .txt {
        text-align: center;
        padding-top: 10px;
        font-family: 'Just Another Hand', cursive;
    }
</style>
